<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Confirmation</title>
</head>
<body>
    <span th:text="${message}"></span>
</body>
</html>